.landing-container {
  background-color: #e10c12;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: linear-gradient(90deg, white, white,white, white,#000000, #000000,#000000, #000000, #000000, white, white,white,white); */
  /* background: linear-gradient(90deg, #000000, #000000,#000000, #fff8f1, #000000, #000000,#000000); */
  /* background-size: 300% 300%; */
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0, 50%;
  }
}

.landing-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ed0119;
  letter-spacing: 0px;

  font-size: 120px;

  margin: 0px auto;
  /* background: linear-gradient(
    to right,
    rgb(101, 12, 12),
    rgb(110, 12, 4),
    rgb(50, 13, 9)
  ); Ajusta los colores según sea necesario */

  background-clip: none;

  border-bottom-left-radius: 200px; /* Ajusta el radio según sea necesario */
  border-bottom-right-radius: 200px;
}

.Link-tag {
  text-decoration: none;
}

.landing-title-container {
  margin: auto;
  background-color: black;
  border: 3px solid #706e6c;
  padding: 100px 160px;
  box-shadow: 70px 60px 30px rgb(0, 0, 0, 0.6);
  position: relative;
}

.base{
  background-color: black;
  position: absolute;
  height: 40px;
  width: 500px;
  border-radius:100%;
  top: 203px;
  left: 50%;                /* Positions element halfway across the page */
  transform: translateX(-50%); 
}

.landing-button-container:hover {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.landing-button {
  font-size: 60px;
  filter: brightness(0) invert(1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: pulse 3s ease-in-out infinite; /* Aplicar la animación de pulso */
}
