.form-container form{
    
    background-color: beige;
    width: 20rem;
    display: flex;
    flex-direction: column; 
    border: 2px solid blue;
}


.form-container{
    display: flex;
    justify-content: center;
    border: 2px solid red;

} 
.form-container p{
    display: flex;
    justify-content: left;
    margin-right: 0;
}
.form-container input{
    display: inline;
}
p {
    display: inline;
    margin: 0

}

.errorSpan{
    color: red;
    font-size: 10px;
}

.title{
    font-size: 50px;
    display: block;
}


.form-tems-container{
    display: flex;
    /*Permite que los elementos se envuelvan si no caben en una sola fila */
    flex-wrap: wrap;
    width: 100%;
}

.form-tem-container{
    margin: 5px;
    border: 3px solid rgb(21, 104, 176);
    border-radius: 10px;
    /* Ajusta el ancho según el contenido */
    width: fit-content

}