.create-container{
    border: 7px solid rgb(74, 105, 95);
    margin: 150px 0px 10px 10px; 
}


.create-form-container{
    
    background-color: rgba(249, 246, 246, 0.733);
    width: 50rem;
    height: 40rem;
    display: flex;
    flex-direction: column; 
    border: 2px solid blue;
    border-radius: 10px;
    margin: 50px;
    padding: 100px;

}

.form-title-container{
    margin: 100px 0px 50px 0px;
}

.form-container{
    display: flex;
    justify-content: center;
    border: 2px solid red;

} 
.form-container p{
    display: flex;
    justify-content: left;
    margin-right: 0;
}
.create-form-container input{
    display: inline;
    border-radius: 5px;
    min-height: 40px;
}

.form-label{
    color: black;
    font-size: 30px;
}


p {
    display: inline;
    margin: 0

}

.errorSpan{
    color: red;
    font-size: 12px;
}

.title{
    font-size: 50px;
    display: block;
}


.form-tems-container{
    display: flex;
    /*Permite que los elementos se envuelvan si no caben en una sola fila */
    flex-wrap: wrap;
    width: 100%;
}

.form-tem-container{
    margin: 5px;
    border: 3px solid rgb(21, 104, 176);
    border-radius: 10px;
    /* Ajusta el ancho según el contenido */
    width: fit-content

}